.container {
    display: grid;
    grid-template-columns: 32rem repeat(2, calc((100vw - 32rem) / 2));
    grid-template-rows: fit-content(0) fit-content(5rem) auto;
    place-content: stretch stretch;
}

.body {
    grid-area: 2 / 1 / 4 / 4;
}

.body-3 {
    grid-area: 3 / 3 / 4 / 4;
}

.body-2 {
    grid-area: 3 / 2 / 4 / 3;
}

.body-1 {
    grid-area: 3 / 1 / 4 / 2;
}

.head-wrap {
    grid-area: 1 / 1 / 2 / 8;
}

.head-3 {
    grid-area: 2 / 3 / 3 / 4;
}

.head-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.head-1 {
    grid-area: 2 / 1 / 3 / 2;
}

header {
    grid-area: 1 / 1 / 2 / 4;
}

.masthead {
    grid-area: 1 / 1 / 3 / 4;
}

/* end of https: //css-grid-layout-generator.pw/ output */

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 15px "Open Sans", "Segoe UI", sans-serif;
    background: #f2f2f2;
    overscroll-behavior: contain;
}

:root {
    --color-default: #333;
    --link-color: #016A9C;
    --link-hover-color: rgb(0, 139, 204);
    --color-error: #c62828;
}

*:focus {
    outline: none;
}

input[type=text]::-ms-clear {
    display: none;
}

.property-rows {
    grid-area: 3 / 1 / 3 / 1;
    align-self: start;
}

.property-rows,
pre {
	max-height: calc(100vh - 12.75rem);
    overflow: overlay;
}

.property-rows[data-collapsed] .property-row .block:first-child ~ .block {
    display: none;
}

.property-rows[data-collapsed] .property-row .block:first-child input {
    border: none;
    padding: 0.5rem;
    margin: -0.5rem 0 -0.5rem -0.5rem;
    background: linear-gradient(45deg, #eee, transparent);
}

.head-1,
.head-2,
.head-3 {
    background: linear-gradient(225deg, transparent, white);
}

header {
    background: white;
    border: none;
}

.header-controls {
    float: right;
    white-space: nowrap;
    margin-top: 0;
}

.header-controls>* {
    margin-left: 0.25rem;
    display: inline-block;
}

.header-controls button {
    background: transparent;
    color: var(--color-default);
}

.header-controls button:not([disabled]):hover {
    background: transparent;
    text-decoration: underline;
    color: var(--link-color) !important;
}

.header-controls button[disabled] {
    background: transparent;
    cursor: default;
}

h1 {
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.body-2,
.body-3 {
    background: #333B3D;
    position: relative;
}

.body-3 {
    background: #293134;
}

.container {
    min-height: 100vh;
}

.container>* {
    padding: 1rem 2rem;
    position: relative;
}

h3 {
    margin: 0 0 0.5rem;
    font-weight: 500;
}

form.property-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: start;
    margin: 0 -1rem 0.75rem !important;
    padding: 1rem;
    position: relative;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);
    transform-origin: top;
}

.property-row.gu-mirror {
    width: 28rem !important;
    height: 4.5rem !important;
    padding-right: 1rem !important;
    margin-left: 0 !important;
}

.property-rows[data-collapsed] .property-row.gu-mirror {
    height: 1rem !important;
}

.property-rows.gu-unselectable .property-row,
.property-rows[style],
.property-row.gu-transit {
    animation-duration: 0s !important;
}

.no-anim .property-row {
	animation-duration: 0s !important;
}

form.property-row .block:nth-child(1) input {
    font-size: 100% !important;
    padding-top: 0;
}

form.property-row .block:nth-child(1)~.block input,
form.property-row .block:nth-child(1)~.block select {
    font-size: 12px !important;
    padding-top: 0.33rem;
    padding-bottom: 0.33rem;
}

form.property-row .block:nth-child(2) {
    grid-column-start: 1;
}

form.property-row button {
    grid-row-start: 1;
    grid-column-start: 3;
}

.property-rows button {
    position: absolute;
    top: -0.5rem;
    padding: 0.5rem;
}

.property-rows svg {
    width: 1rem;
    height: auto;
    display: block;
}

.btnRemove {
    right: 0.7rem;
    cursor: pointer;
}

.btnRemove:hover {
    background: transparent;
    color: var(--link-hover-color);
}

.btnDrag {
    position: absolute;
    right: 3rem;
    cursor: grab;
}

.btnDrag:hover {
    color: var(--link-color);
}

.btnDrag:active,
form.property-row.gu-mirror .btnDrag {
    cursor: grabbing !important;
}

form.property-row .block:nth-child(1) {
    grid-column: span 2;
}

input,
select {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

input:hover,
select:hover {
    border-bottom-color: #aaa !important;
}

input:focus,
select:focus {
    border-bottom-color: var(--link-color) !important;
}

.property-rows input,
.property-rows select {
    border-bottom-color: #ccc;
}

form[data-duplicate] .block:first-child::after {
    content: "Duplicate property name";
    display: block;
    font-size: 11px;
    color: var(--color-error);
    margin-top: 1px;
    position: absolute;
}

.property-rows[data-collapsed] form[data-duplicate] .block:first-child::after {
    position: relative;
    top: 10px;
}

form[data-duplicate] .block:first-child input {
    color: var(--color-error);
    border-bottom-color: var(--color-error) !important;
}

.language-csharp {
    font-size: 15px !important;
}

button {
    background: var(--link-color);
    border: none;
    border-radius: 2px;
    color: white;
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding: 0.75rem 1rem;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s;
}

button:hover {
    background: var(--link-hover-color);
}

button[disabled] {
    background: transparent;
    color: var(--color-default);
    cursor: default;
    opacity: 0.33;
}

.button-transparent {
    background: transparent;
    color: var(--color-default);
}

.button-transparent.active,
.button-transparent:not([disabled]):hover {
    background: transparent;
    color: var(--link-color);
}

[class*="head-"] button {
    float: right;
    margin: -0.2rem -0.33rem 0 1rem;
    padding: 0.33rem 0.5rem !important;
}

[class*="head-"] button:hover {
    background: transparent;
}

[class*="head-"] button:not([disabled]):hover svg * {
    color: var(--link-color);
}

[class*="head-"] button[disabled]:hover {
    background: transparent;
}

[class*="head-"] button.active {
    background: var(--link-color) !important;
}

[class*="head-"] button.active svg * {
    color: white !important;
}

.btnAdd::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 1.6rem;
    margin: -0.25rem 0 -0.25rem 1.4rem;
    background: var(--color-default);
    opacity: 0.33;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: transparent !important;
    margin: -1rem -2rem !important;
    padding: 1rem 2rem;
    border: none;
}

pre, code {
    text-shadow: none !important;
}

code {
    padding: 0;
    white-space: pre-wrap !important;
}

code::selection,
code *::selection {
    background: rgba(255, 255, 255, 0.16) !important;
}

code:empty::after {
    content: "Add properties to show output";
    opacity: 0.25;
    font-family: sans-serif;
    display: block;
    font-style: italic;
    margin-top: 1rem;
}

.property-row input {
    text-transform: capitalize;
}

.property-row input[name="dbFieldName"] {
    text-transform: uppercase;
}

svg {
    width: 1.08rem;
    height: auto;
    user-select: none;
    pointer-events: none;
    display: block;
}

.hidden {
    display: none;
}

.anim-scale-in-top {
    animation: scale-in-top 0.12s;
}

.anim-move-out-left {
    animation: move-out-left 0.2s;
}

@keyframes scale-in-top {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes move-out-left {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-50%);
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--link-color);
    display: block;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-input-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}